<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <COM.Properties.Settings>
            <setting name="COM_WebSvc_OraPKG" serializeAs="String">
                <value>http://211.54.128.6/Sephiroth_WebSvc/OraPKG.asmx</value>
            </setting>
            <setting name="COM_SEPHIROTHWebSvc_OraPKG" serializeAs="String">
                <value>http://211.54.128.6/Sephiroth_WebSvc/OraPKG.asmx</value>
            </setting>
        </COM.Properties.Settings>
    </applicationSettings>
</configuration>